body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 1.5;
  color: $color-gray-dark;
  padding: 20px;
}

.heading-primary {
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 3rem;
  left: 0%;
  backface-visibility: hidden; //Used for fixing the moving of text upward(unknown Reasons), While using animations
  &--main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* Short hand for above animations
      animation: moveInLeft 1s ease-out; */

    /* Other Important Properties */

    /* animation-delay: 3s;
      animation-iteration-count: 3; */
  }
  &--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    animation: moveInRight 1s ease-out;
  }
}
