.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  &__sides {
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 45rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }
  &:hover &__sides--front {
    transform: rotateY(180deg);
  }
  &:hover &__sides--back {
    transform: rotateY(0);
  }
}
